.login-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.login-input-container {
  width: fit-content;
}

.signin-button {
  font-size: large;
}

.offer-topic-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.offer-description-container {
  padding-left: 400px;
  padding-right: 400px;
}

.lesson-search {
  display: flex;
  padding-top: 20px;
  width: fit-content;
}

.form-control {
  background-color: white;
}
