// Specific CSS for your home-page
@media(max-width: 5000px) {
  .card-container {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

@media(max-width: 1399px) {
  .card-container {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

// @media(max-width: 992px) {
//   .card-container {
//     grid-template-columns: 1fr 1fr;
//   }
// }
@media(max-width: 900px) {
  .card-container {
    grid-template-columns: 1fr 1fr;
  }
}

@media(max-width: 600px) {
  .card-container {
    grid-template-columns: 1fr;
  }
}

body {
  text-align: center;
}

main {
  padding: ($spacer * 2) 0;
}

.card-container {
  display: grid;
  // grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 16px;
  padding: 20px 0;
}

#new-offer-button {
  margin: $spacer 0;
}
