.img-container{
  position: relative;
  justify-content: center;
  }

img {
  border-radius: 10px;
  object-fit: cover;
  }

.img-container img{
  height: 500px;
}

.container {
  align-items: center;
}

.show-container {
  display: flex;
  justify-content: space-between;
}

.show-left h1, p {
  text-align: left;
}

.show-left {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card-description {
  text-align: left;
}

.booking-card {
  overflow: hidden;
  height: 220px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: inline-block;
  align-items: center;
  border-radius: 10px;

  .card-product img {
    height: 100%;
    width: 120px;
    object-fit: cover;
  }

  .card-product h2 {
    font-size: 16px;
    font-weight: bold;
    margin: 0;
  }

  .card-product p {
    font-size: 12px;
    line-height: 1.4;
    opacity: .7;
    margin-bottom: 0;
    margin-top: 8px;
  }

  .card-product .card-product-infos {
    padding: 16px;
  }

  #new_booking {
    padding: 40px 15px 0px 15px;
  }

}
