.img-container{
  position: relative;
  justify-content: center;
}

img {
  border-radius: 10px;
  object-fit: cover;
}

.container {
  align-items: center;
}

.show-header {
  text-align: left;
}

.show-bottom {
  padding-top: 25px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.card-description {
  text-align: left;
}
