.img-container{
  position: relative;
  justify-content: center;
  }

img {
  border-radius: 10px;
  object-fit: cover;
  }

.img-container img{
  height: 500px;
}

.container {
  align-items: center;
}

.show-header {
  text-align: left;
}

.show-bottom {
  padding-top: 25px;
  display: flex;
  justify-content: space-between;
}

.card-description {
  text-align: left;
}
