<h1>Welcome to your Schedule</h1>
<div class="card-container">
  <% @bookings.each do |booking| %>
    <%= render "shared/lesson_card", offer: booking.offer do %>
      <%# path should be `edit_booking_path(booking)`, but this doesn't exist
          yet %>
      <%= link_to "Update Booking", offer_path(booking.offer), class: "btn btn-secondary" %>
      <%= link_to "Review", offer_path(booking.offer),  class: "btn btn-secondary" %>
    <% end %>
  <% end %>
</div>
