<div class="banner">
  <h1 class="banner-child">LFT?</h1>
  <div class="banner-child">
    <h2>Looking for tutor?</h2>
    <p>Choose from <%= number_of_lessons %> available lessons.</p>
  </div>
</div>
