<ul class="navbar-logo">
  <li class="logo"><a href="/offers">LFT</a></li>
  <li class="logo-text"><a href="/offers">Looking for Tutor</a></li>
</ul>

<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
  <span class="navbar-toggler-icon"></span>
</button>

<div class="collapse navbar-collapse" id="navbarSupportedContent">
  <ul class="navbar-nav me-auto">
    <li class="nav-item active">
      <a class="nav-link" href="/offers">Find a Lesson</a>
    </li>
    <li class="nav-item active">
      <a class="nav-link" href="/offers/new">Become a Tutor</a>
    </li>
    <li class="nav-item dropdown">
      <img class="avatar dropdown-toggle" id="navbarDropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false" src="https://kitt.lewagon.com/placeholder/users/ssaunier" />
      <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
        <a class="dropdown-item" href="/bookings">Upcoming Lessons</a>
        <a class="dropdown-item" href="#">Past Lessons</a>
      </div>
    </li>
  </ul>
</div>
