<div class="booking-card">
  <div class="card-product">
    <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" />
    <div class="card-product-infos">
      <h2><%= @offer.topic %></h2>
      <p><%= @offer.description %></p>
    </div>
  </div>
</div>
