<%= simple_form_for [ @offer ] do |f| %>
  <div class="offer-description-container">
  <%# <div class="offer-topic-container"> %>
    <%= f.input :topic %>
  <%# </div> %>
    <%= f.input :description %>
  </div>
  <%= f.submit "Submit Tutoring Service", class: "btn btn-primary" %>
<% end %>
