<h1>Tutoring Offers</h1>

<ul>
  <% @offers.each do |offer| %>
    <li><%= link_to offer.topic, offer_path(offer) %>(<%= offer.user.name %>)</li>
  <% end %>
</ul>
<%= link_to "Make New Offer",  new_offer_path, class:"btn btn-primary" %>
