<h1>Welcome to LFT</h1>

<h2>Tutoring Offers</h2>

<div class="card-container">
  <% @offers.each do |offer| %>
    <div class="card-product">
      <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" />
      <div class="card-product-infos">
        <%= link_to offer.topic, offer_path(offer) %> (<%= offer.user.name %>)
      </div>
    </div>
  <% end %>
</div>
