.banner {
  // Photo by Tim Mossholder on Unsplash
  background-image: image-url('chalkboard.jpg');
  background-size: cover;
  display: flex;
  color: $orange;
  border-radius: 10px;
  align-items: center;
  justify-content: space-evenly;
  text-shadow: 0 0 3px black;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  h1 {
    font-size: 10em;
    letter-spacing: .25em;
    font-family: $logo-font;
    text-shadow: 3px 3px $light-orange;
  }
  h2 {
    font-size: 2.5em;
    font-weight: bold;
    font-family: $headers-font;
    letter-spacing: 2px;
  }
  p {
    font-size: 1.5em;
  }
  .banner-child:last-child {
    // Hacky fix for now
    margin-bottom: -22.5px;
  }
}
