.btn {
  border: 2px solid $orange;
  border-radius: 5px;
  color: $orange;
  background-color: white;
}

.btn-secondary {
  &:hover, &:active, &:focus, &:disabled {
    color: $orange;
    border: 2px solid $orange;
    background-color: $light-orange;
  }
}

.btn-primary {
  background-color: $orange;
  color: white;
  &:hover, &:active, &:focus, &:disabled {
    color: white;
    border: 2px solid $gray;
    background-color: $orange;
  }
}
