.btn {
  border: 2px solid $orange!important;
  border-radius: 5px;
  color: $orange!important;
  background-color: white!important;
}

.btn-secondary {
  &:hover, &:active, &:focus {
    color: $orange!important;
    border: 2px solid $orange!important;
    background-color: $light-orange!important;
  }
}

.btn-primary {
  background-color: $orange;
  color: white;
  &:hover, &:active, &:focus {
    color: white!important;
    border: 2px solid $gray!important;
    background-color: $orange!important;
  }
}
