.btn-primary {
  border: 2px solid $orange;
  color: $orange;
  background-color: white;
  &:hover, &:active, &:focus {
    color: $orange;
    border: 2px solid $orange;
    background-color: $light-orange;
  }
}
