.card-product {
  overflow: hidden;
  // height: 120px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  // display: flex;
  align-items: center;
  border-radius: 10px;
  font-size: 16px;
  font-family: $body-font;
  text-align: left;

  .card-product-infos {
    padding: 16px;
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-gap: 16px;
  }

  h3 {
    font-size: 20px;
  }
}

.card-product-main-info {
  font-weight: bold;
}

.card-product img {
  height: 200px;
  width: 100%;
  object-fit: cover;
}

// .card-product h2 {
//   font-size: 16px;
//   font-weight: bold;
//   margin: 0;
// }

// .card-product p {
//   font-size: 12px;
//   line-height: 1.4;
//   opacity: .7;
//   margin-bottom: 0;
//   margin-top: 8px;
// }
