footer {
  background: $light-orange;
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  padding: $spacer;
  color: $orange;
}
