footer {
  border-top: solid 1px;
  background: $light-orange-transparent;
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  padding: $spacer;
}
