// TODO: Is a layout really a component?

.page-container {
  display: grid;
  min-height: 100vh;
  grid-template-rows: auto 1fr auto;
}

main {
  border-top: solid $section-border-width black;
  border-bottom: solid $section-border-width black;
  background-color: $light-red;
}

body {
  background-color: $light-orange;
}
